
<!DOCTYPE html>
<html>
    <head>        
        <link rel="stylesheet" href="{{input4}}" type="text/css"/>
    </head>
    <div class="start-page"> </div>
    <body>
        <div id ="header"> <h1> Space Xplore</h1> </div>
            <!-- <label for = "login"> Returning User?</label> -->
            <button id = "login" onclick=window.location.href="{{input}}">Login</button>
            <!-- <label for = "signup"> New User?</label> -->
            <button id = "signup" onclick= window.location.href="{{input2}}"> SignUp</button>
            <!-- <button id = "homepage" onclick=window.location.href="{{input3}}">For testing</button> -->
        <!-- <script>"function.js"</script> -->
    </body> 
</html>

