<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="{{style}}" type="text/css"/>
</head>
<body>
<button id="back" onclick=window.location.href="http://localhost:8080/">Back</button></div>
<h2 class="title">LeaderBoard</h2>
<table id ="rank">
<tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Highest Score</th>
  </tr>
    {%for user in user_stat%}
        <tr>
        <th>{{ user["rank"]}}</th>
        <th>{{user["name"]}}</th>
        <th>{{ user["highest_point"]}}</th>
        </tr>
    {%endfor%}



</table>
</body>
</html>