<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{input4}}" type="text/css"/>
    <script type="text/javascript" charset="utf-8">
        const code = window.location.href.slice(-4)
        const socket = new WebSocket('ws://' + window.location.host + '/lobby/' + code);
        
        socket.onmessage = function (ws_message) {
            const message = JSON.parse(ws_message.data);
            const messageType = message.messageType
            console.log(ws_message)
            switch (messageType) {
                case 'chatMessage':
                    addMessage(message);
                    break;
                case 'start':
                    startGame()
                    break

                default:
                    console.log("received an invalid WS messageType");
            }
        }
        
        socket.onclose = function () {
            socket.send(JSON.stringify({'messageType': 'leave'}));
        }

        document.addEventListener("keypress", function (event) {
            if (event.code === "Enter") {
                sendMessage();
            }
        });

        function sendMessage() {
            const chatBox = document.getElementById("chat-comment")
            const message = chatBox.value;
            chatBox.value = ""
            chatBox.focus()
            if (message !== "") {
                socket.send(JSON.stringify({'messageType': 'chatMessage', 'message': message}));
            }
        }

        function startGame() {
            const code = document.getElementById("code").innerHTML
            window.location.href = "/multigame/" + code
        }

        function getReady() {
            socket.send(JSON.stringify({"messageType": "start"}))
        }

        function addMessage(chatMessage) {
            let chat = document.getElementById('chat');
            chat.innerHTML += "<b>" + chatMessage['username'] + "</b>: " + chatMessage["message"] + "<br/>";
        }
    </script>
</head>
<body>
<div id = "code">{{room_code}}</div>
<div class="container">
    <div id="popup-tag">
        <div id="chat-room">
            <div id="chat"></div>
            <!-- <label for="chat-comment">Chat: </label> -->
            <input id="chat-comment" type="text" name="comment" placeholder="Chat">
        </div>
    <button id="popup" onclick="openChat()">Chat</button>
    </div>
    <div id="start-game">
        <button id="ready" onclick="getReady()">Start Game</button>
    </div>
</div>
<script src="/static/javascript/lobby.js"></script>
</body>
</html>

