<html> 
    <form action="" id="login-form" method="post" enctype="multipart/form-data">
        <label for="login-username">Username: </label>
        <textarea id="login-username" name="ret-username"></textarea>
        <br/>
        <label for="login-password">Password: </label>
        <textarea id="login-password" name="ret-password"></textarea>
        <br/>
        <input type="submit" value="Login">
    </form>
        <button> Forgot Password</button>
        <button id = "signup" onclick=window.location.href="{{input}}">Create a new User</button>
        </html>