<!DOCTYPE html>
<html>
    <head>        
        <link rel="stylesheet" href="{{input3}}" type="text/css"/>
    </head>
    <body>
    <div class="start-page"> </div>
    <div id ="login-form">
    <form action="{{input2}}" id="login-form" method="post" enctype="multipart/form-data">
        <label for="login-username">Username: </label>
        <textarea id="login-username" name="ret-username"></textarea>
        <br/>
        <label for="login-password">Password: </label>
        <textarea id="login-password" name="ret-password"></textarea>
        <br/>
        <input type="submit" value="Login">
    </form>
    <br><br>
    <div id="signing">
        New User?
        <button id = "signup" onclick=window.location.href="{{input}}">Signup</button>
    </div>
</div>
    </body>
</html>