<html> 
    <form action="{{input2}}" id="signup-form" method="post" enctype="multipart/form-data">
        <label for="signup-username">Username: </label>
        <textarea id="signup-username" name="new-username"></textarea>
        <br/>
        <label for="signup-password">Password: </label>
        <textarea id="signup-password" name="new-password"></textarea>
        <br/>
        <input type="submit" value="Signup">
    </form>

        <button onclick="alert('This is a test')"> Forgot Password</button>
        <button id = "login" onclick=window.location.href="{{input}}">Returning User?</button>
        </html>