<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{css_file}}" type="text/css"/>
</head>
<body>
    <div id = "header">
        <h1> Welcome, {{user_username}}!</h1>
    </div>
    
    <div class="profile">
        <div id="profile-pic">
            <image id="profileImage" src="static/images/defaultPic.jpeg" />
            <br>
            <input id="imageUpload" type="file" required="" capture hidden/>
            <label for ="imageUpload">Edit Profile</label>
            <h3>Current profile status: {{profile_status}}</h3>
         </div>
 
        <div id="stats">
        <table>
            <tr>
                <td>Highest Point: {{user_highscore}}</td>
            </tr>
        </table>
            <div>{{user_aboutme}}</div>
        </div>
    </div>

<div class="start">
    <button id="single" onclick=window.location.href="{{single}}">Single Player</button>
    <button id="lobby" onclick=window.location.href="{{lobby}}">Create Lobby</button>
    <button id="join_lobby" onclick=window.location.href="{{join_lobby}}">Join Lobby</button>
    <button id="leaderboard" onclick=window.location.href="{{leaderboard}}">Leaderboard</button>
</div>
</body>
</html>

