body{
    background-image: linear-gradient(75deg, #040406, #494F55);
    font-family: sans-serif;
    color: #dedede;
}

#header{
    color:#dedede;
    line-break: auto;
    position: relative;
    text-align: center;
}

.profile{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 76em;
}

#profile_stat{
    position: fixed;
    top: 0;
    left: 0;
}
/* #profile-pic, #stats{
    display: inline-block;
} */

#profileImage{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
    margin-left: 15px;
}

td{
    /* padding-left: 20px; */
    padding-right: 40px;
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 36px;
    font-family: sans-serif;
    color: #d3d3d3
}

#single{
    background-color:#D3D3D3; 
    border: none;
    color: black;
    padding: 15px 32px;
    margin-left: 150px;
    margin-top: 50px;
    margin-right: 50px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    position: relative;
    border-radius: 0.3em;
}

#lobby{
    background-color:#D3D3D3; 
    border: none;
    color: black;
    padding: 15px 32px;
    margin-right: 50px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    position: relative;
    margin-top: 50px;
    border-radius: 0.3em;
}

#join_lobby-form{
    background-color:#D3D3D3;
    border: none;
    color: black;
    padding: 15px 32px;
    margin-right: 50px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    position: relative;
    margin-top: 50px;
    border-radius: 0.3em;
}

#leaderboard{
    background-color:#D3D3D3; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    position: relative;
    margin-top: 50px;
    border-radius: 0.3em;
}

button.logout{
    background-color:#D3D3D3;
    border: none;
    color: black;
    padding: 5px 10px;
    margin-right: 50px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    position: relative;
    margin-top: 50px;
    border-radius: 0.3em;
}

button.profileStat{
    position: relative;
    padding: 5px 10px;
    top: -40px;
}

#logout-form{
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
}



