body{
    height: 672px;
    background-image: linear-gradient(75deg, #040406, #494F55);
}
.title{
        font-family: sans-serif;
        font-size: 40px;
        color:#ff5c33;
        text-shadow:
        0px 0px 20px black,
        0px 0px 10px orange,
        0px 0px 10px orangered,
        0px 0px 10px red;
        text-align: center;
        animation: none;
        position: relative;
        left: -30px;
        top: 20px;
}
table {
  font-family: sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
    padding-right: 40px;
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 36px;
    font-family: sans-serif;
    color: #FFFAF0;
}
#back{
    background-color:#D3D3D3;
    border: none;
    color: black;
    padding: 15px 32px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    position: fixed;
    border-radius: 0.3em;
}
/* Gold */
tr:nth-child(2) {background: gold;}
/* Silver */
tr:nth-child(3) {background: #c0c0c0;}
/* Bronze */
tr:nth-child(4) {background: #cd7f32;}

tr:nth-child(n+4) {
  background-color: #dddddd;
