#snakeboard {
    width: 595px;
    height: 595px;
  }

  
  html{
   background-image: linear-gradient(75deg, #040406, #494F55);
}
  
  h2{
     color:white;
  }
  
  .grid{
     display: grid;
     grid-template-columns: 1fr 2fr 1fr;
     /* grid-gap: 20px; */
  }
